@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.shadow-1{
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  29px 29px 58px #d9d9d9,-29px -29px 58px #ffffff;
}
.shadow-1a{
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  0px 0px 0px #d9d9d9,-29px -29px 58px #ffffff;
}

.shadow-2{
background: linear-gradient(225deg, #dfe1e3, #ffffff);
box-shadow:  -5px 5px 32px #eef0f2,
             5px -5px 32px #ffffff;
}
.shadow-3{
background: linear-gradient(145deg, #dfe1e3, #ffffff);
box-shadow:  20px 20px 60px #d3d5d6,
             -20px -20px 60px #ffffff;
}
.home-gray-bg{
    @apply bg-gray-50
}

h1{
    @apply text-4xl
}
h2{
    @apply text-2xl md:text-3xl font-[600]
}
h3{
    @apply text-xl sm:text-2xl font-[500]
}
.section-p{
    @apply text-xs xss:text-base
}
.box-width{
    @apply 2xl:max-w-[1420px] w-full mx-auto
}
.box-width2{
    @apply xl:max-w-[1280px] w-full mx-auto
}
.auth-btn{
 @apply bg-green1 hover:bg-green2 text-white font-semibold ss:text-base ss:px-4 ss:py-2 text-sm px-3 py-1 rounded-md 
}
.auth-section{
    @apply px-3 sm:px-10 py-10
}
.hero-section{
    @apply px-3 xsm:px-14 sm:pt-24 mmd:pt-16 sm:pb-36 py-20
}
.page-section{
    @apply px-3 sm:px-14 sm:py-24 py-20
}
.blog-section{
    @apply px-3 py-20 sm:px-16 md:px-14 sm:py-24 

}
.course-outline-section{
    @apply px-3 xxss:px-6 ss:px-8 sm:px-14 sm:py-24 py-20
}
.section{
    @apply px-3 xsm:px-14 xsm:py-12 py-8
}
.flex-between{
    @apply flex items-center justify-between
}
.flex-center{
    @apply flex items-center justify-center
}
.section-flex-between{
    @apply flex items-center justify-between flex-col mmd:flex-row gap-6 mmd:gap-12
}
.section-flex-between-reverse{
    @apply flex items-center justify-between flex-col-reverse mmd:flex-row gap-6 mmd:gap-12
}
.form-error-message{
    @apply text-ss text-red-600
}
.notification-message{
    @apply text-ss ss:text-xs 
}
.bar-style{
    @apply h-[3px] w-10 bg-green1
}
.bar-style2{
    @apply h-[2px] w-[90px] bg-green1
}
.gpa-btn{
    @apply text-sm px-3 py-[7px] xss:py-2.5  text-white font-semibold w-full rounded-lg
}
.heading-p{
    @apply text-gray-800 text-center text-xs xsm:text-base font-[500]
}


